version: '3.7'

networks:
  docker_network:
    name: ${NETWORK}

services:

  adminer:
    image: adminer
    restart: always
    container_name: adminer
    networks:
      docker_network:
    environment:
      ADMINER_PLUGINS: ${ADMINER_PLUGINS}
      ADMINER_DESIGN: ${ADMINER_DESIGN}
    ports:
      - ${ADMINER_PORT}:8080

  postgres:
    image: postgres:13.1
    restart: always
    container_name: postgres
    networks:
      docker_network:
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - ./runtime/postgres:/var/lib/postgresql/data
      - ./postgres/postgresql.conf:/etc/postgresql/postgresql.conf
    ports:
      - ${POSTGRES_PORT}:5432

  rabbitmq:
    image: rabbitmq:3-management
    restart: always
    container_name: rabbitmq
    networks:
      docker_network:
    environment:
      - RABBITMQ_DEFAULT_USER=${RABBITMQ_DEFAULT_USER}
      - RABBITMQ_DEFAULT_PASS=${RABBITMQ_DEFAULT_PASS}
      - RABBITMQ_SERVER_ADDITIONAL_ERL_ARGS=-rabbitmq_management load_definitions "/etc/rabbitmq/rabbit.json"
    hostname: rabbitmq
    volumes:
      - ./runtime/rabbitmq:/var/lib/rabbitmq
      - ./rabbitmq/rabbit.json:/etc/rabbitmq/rabbit.json
    ports:
      - "${RABBITMQ_CLIENT_PORT}:15672"
      - "${RABBITMQ_SERVER_PORT}:5672"

  redis:
    image: redis
    container_name: redis
    networks:
      docker_network:
    environment:
      - REDIS_PASSWORD=${REDIS_PASSWORD}
    volumes:
      - ./runtime/redis:/bitnami/redis/data
      - ./redis/redis.conf:/usr/local/etc/redis/redis.conf
    ports:
      - "${REDIS_PORT}:6379"

  mongo:
    image: mongo
    restart: always
    container_name: mongo
    networks:
      docker_network:
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}
    volumes:
      - ./runtime/mongo:/data/db
      - ./mongo/mongodb.conf:/etc/mongodb.conf
    ports:
      - "${MONGO_PORT}:27017-27019"
    